.config/btop
.config/dconf
.config/gtk-3.0
.config/mozilla
.config/pulse
.config/Thunar
.config/xfce4
.config/yay
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/gh
.config/lazygit
.config/hypr/colors.conf
.config/kitty/colors.conf
.config/rofi/colors.rasi
.config/colors.css
