@import "../colors.css";

* {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
}

window {
    background-color: alpha(@surface, 0.75);
}

button {
    border-radius: 20px;
    border-style: none;
    color: @on_secondary_container;
    background-color: alpha(@secondary_container, 0.75);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
    transition: all 0.2s ease-out;
}

button:focus, button:active, button:hover {
    background-size: 30%;
    background-color: @primary_container;
    color: @on_primary_container;
    outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
