@import "../colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
}

button {
    background: @secondary_container;
    color: @on_secondary_container;
}
button:hover {
    background: @primary;
    color: @on_primary;
}
button:checked {
    background: @primary_container;
    color: @on_primary_container;
}
button:checked:hover {
    background: @primary;
    color: @on_primary;
}

switch {
    background: @surface_container_high;
}
switch:hover {
    filter: brightness(1.2);
}
switch:checked {
    background: @primary_container;
}
switch:checked:hover {
    filter: brightness(1.2);
}

slider {
    background: @primary;
}

.control-center {
    background: alpha(@surface, 0.75);
    color: @on_surface;
}

.notification-group {
    background: transparent;
}

.notification {
    background: @surface_container_high;
    border-color: @outline_variant;
}
.notification-default-action:hover {
    background: @surface_container_highest;
}

.widget-notifications slider {
    background: @surface_container_low;
    border-style: none;
    outline-style: none;
}
.widget-notifications slider:hover {
    background: @surface_container_high;
}
